.root {
    -fx-background-color: #202124;
}

.drop-zone {
    -fx-border-color: #6b7280;
    -fx-border-width: 2;
    -fx-border-style: dashed;
    -fx-padding: 40;
    -fx-font-size: 14;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-border-radius: 10;
}

.primary-button {
    -fx-background-color: #25b6eb;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-padding: 10 20 10 20;
    -fx-background-radius: 8;
}

.primary-button:hover {
    -fx-background-color: #159ed1;
}

.progress-indicator {
    -fx-progress-color: #e5e7eb;
}
